[settings]
profile=black
skip=.gitignore,.dockerignore,.venv,.mypy_cache,.pytest_cache,build,dist,*.egg-info
skip_glob=.vscode/**
line_length=120
ignore_comments=True
treat_all_comments_as_code=False
